.Main3left{
  position: relative;

  .circle{
    position: absolute;
    top: 0;
    animation-name: example;
    animation-duration: 4s;
  }
  .users{
    scale: 90%;
    position: absolute;
    top: 10%;
    left: 8%;
  }
}
.Partner{
  border-radius: 20px;
  box-shadow: 0 10px 50px #075985;
}
@keyframes example {
  0%   {scale: 90%}
  50%  {scale: 100%}
  100% {scale: 90%}
}
