.main{
  .defultButontext-lg{
    margin: 0 auto;
    background: #172554;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 0 10px 50px #172554;
  }
  .aim{
    width: 100%;
  }
  .btnRIGHT{
    background-color: #172554;
  }
  .ACTIVE{
    background-color: #f65130;
  }

}
.Partner{
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(7, 89, 133, 0.5);
}