.loader {
    width: 200px;
    height: 10px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    overflow: hidden;
    margin: 20% auto 0 auto;
}

.inner_loader {
    width: 60%;
    height: 100%;
    border-radius: 50px;
    animation: moveLeftRight 3s ease-in-out infinite;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(calc(-100% + 10px));
    }

    50% {
        transform: translateX(calc(200px - 10px));
    }

    100% {
        transform: translateX(calc(-100% + 10px));
    }
}
